/*
    Développé par l'équipe technique de Wiibus
    Date de création: 2022
    Type de fichier: CSS
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Neuropol';
    font-style: normal;
    font-weight: normal;
    src: local('Neuropol'), url('./font/NEUROPOL.woff') format('woff');
}
/* NOTE MAIN */
html, body {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: unset
}

.container {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 1em;
}
#main {
    display: none;
}
.paddme {
    padding: 2em;
}
/* NOTE CARD */
.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%);
}
/* NOTE CARD HEADER */
.card .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.1);
    border-bottom-style: solid;
    padding: 1em;
}

.card .header .logo {
    flex: 1;
    position: relative;
}
.card .header .logo:first-child {
    margin-right: 2em;
}
.card .header .logo img {
    width: 100%;
    height: 100%;
    max-height: 100px;
    object-fit: contain;
}
/* NOTE CARD FIRST TITLE */
.card .title-first {
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em 0;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}
/* NOTE CARD BUTTON OPEN */
.card .button-open {
    padding: 1em;
    background-color: #E4002B;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Neuropol';
    font-style: normal;
    font-weight: 400;
}
.card section {
    padding: 1em;
}

.card section.list {
    padding: 2em 1em;
}

.card section.list .list-title {
    font-size: 1.1em;
    font-family: 'Montserrat';
    font-weight: 500;
}

.card section.list ul li{
    font-size: 1.1em;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: italic;
}
/* NOTE CARD PREVIEW */
.card .preview ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.card .preview {
    padding-top: 1em
}
.card .preview ul li {
    width: 60px;
    height: 159px;
    flex: 1;
    overflow: hidden;
}
.card .preview ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .preview .footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    background-color: rgba(0,0,0,0.05);
    margin: 0;
}
.card .preview .footer .item {
    flex: 1;
    padding: 1em;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
}
/* NOTE CARD HEROE WRAPPER */
.card .heroe-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: center;
}
.card .heroe-wrapper .heroe {
    flex: 1;
    height: 150px;
    display: flex;
    justify-content: center;
}
.card .heroe-wrapper .heroe img {
    height: 100%;
}
/* NOTE CARD FOOTER */
.card .footer {
    background-color: #E4002B;
    padding: 1em;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.card .footer span{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.2em;
}